{% extends 'layout_user.html.twig' %}
{% block title %} Economic Dimension - Sustainability Awareness Framework{% endblock %}
{% block body %}
    <div class="d-sm-flex align-lis-center justify-content-between mb-4">
        <h1 class="h1 mb-0 text-primary font-weight-normal">Economic Dimension</h1>
    </div>

    <ul id="pagination-economic" class="pagination-sm"></ul>
    <div id="page1" class="page">
        <div class="row">
            <div class="col-xl-10 col-lg-9">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div class="card-header py-3 d-flex flex-row align-lis-center justify-content-between">
                        <h4 class="m-0 m-0 font-weight-normal text-secondary">Value</h4>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <p>
                            <strong>Value</strong> means the importance, worth, or usefulness of something, principles or standards of behaviour; one's judgement of what is important in life.
                        </p>
                        <ul>
                            <li>How does the system create or destroy monetary value?</li>
                            <ul>
                                <li>For whom are these monetary values generated or destroyed?</li>
                            </ul>
                            <li>Are there any other related types of business value?</li>
                        </ul>
                        <p>For whom are these generated or destroyed?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="page2" class="page">
        <div class="row">
            <div class="col-xl-10 col-lg-9">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div class="card-header py-3 d-flex flex-row align-lis-center justify-content-between">
                        <h4 class="m-0 m-0 font-weight-normal text-secondary">Customer Relationship Management</h4>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <p>
                            <strong>Customer Relationship Management </strong> is an approach to manage a company's interaction with
                            current and potential customers to improve business relationships with its customer base,
                            specifically focusing on customer retention and ultimately driving sales growth.
                        </p>
                        <ul>
                            <li>Does the system affect the relationship between the business and its customers?</li>
                            <li>Does the system enable co-creation or co-destruction of value ?</li>
                            <li>Do these changes in the relationship between the business and its customers impact
                                the financial situation of the business and their partners?</li>
                        </ul>
                        <p>Can it also impact the financial situation of their customers & others?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="page3" class="page">
        <div class="row">
            <div class="col-xl-10 col-lg-9">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div class="card-header py-3 d-flex flex-row align-lis-center justify-content-between">
                        <h4 class="m-0 m-0 font-weight-normal text-secondary">Supply chain</h4>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <p><strong>Supply Chain </strong> means a system of organizations, people, activities, information, and
                            resources involved in moving a product or service from supplier to customer. </p>
                        <ul>
                            <li>
                                Does the system alter the supply chain of the business who owns it ?
                            </li>
                            <li>Does the system enable co-creation or co-destruction of value ?</li>
                            <li>How can these changes in supply chain impact the financial situation of the
                                business and their partners?</li>
                            <li>Can it also impact the financial situation of their customers & others?</li>
                         </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="page4" class="page">
        <div class="row">
            <div class="col-xl-10 col-lg-9">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div class="card-header py-3 d-flex flex-row align-lis-center justify-content-between">
                        <h4 class="m-0 m-0 font-weight-normal text-secondary">Governance</h4>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <p>
                            <strong>Governance</strong> means the processes of interaction and decision-making among the actors
                        involved in a system through the laws, norms, power or language of an organized society.
                        </p>
                        <ul>
                            <li>
                                Does the system affect how and by whom such decisions are made ? If so, how?
                            </li>
                            <li>
                                Does the system affect the activities or the resources of the business? If so, how?
                            </li>
                            <li>
                                Does the system affect the kind of relationship between the business and
                                people/institutions that may be affected by it? If so, how?
                            </li>
                            <ul>
                                <li>
                                    What about the means by which the relationships takes place (the channels)?
                                </li>
                            </ul>
                            <li>
                                How can changes in governance and process impact the financial situation of the business partners?
                            </li>
                            <ul>
                                <li>
                                    Can it also impact the financial situation of their customers & others?
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="page5" class="page">
        <div class="row">
            <div class="col-xl-10 col-lg-9">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div class="card-header py-3 d-flex flex-row align-lis-center justify-content-between">
                        <h4 class="m-0 m-0 font-weight-normal text-secondary">Innovation</h4>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <p>
                            <strong>Innovation</strong> refers to something new or to a change made to an existing product, idea, or
                            field.
                        </p>
                        <ul>
                            <li>
                                Does the system affect the investment on research & development?
                                If so, how?
                            </li>
                            <ul>
                                <li>
                                    What about R&D for parts of the system?
                                </li>
                            </ul>
                            <li>
                                How can changes in innovation and R&D impact the financial situation of the
                                business and their partners?
                            </li>
                            <ul>
                                <li>
                                    Can it also impact the financial situation of their customers & others?
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
