{% extends 'layout_public.html.twig' %}
{% block content %}
        <div class="container">
            <div class="jumbotron-fluid">
                <h1 class="display-4">Welcome!</h1>
                <p class="lead">Please sign up or sign in to start using the Sustainability Awareness Framework.</p>
                <hr class="my-4">
                <p>This page has been created as part of a bachelor thesis. Please let me know if you come across any problems while using this website!</p>

            </div>
        </div>
        <!-- /.container-fluid -->
{% endblock %}
