{% extends 'layout_user.html.twig' %}
{% block title %} Individual Dimension - Sustainability Awareness Framework{% endblock %}
{% block body %}
    <div class="d-sm-flex align-lis-center justify-content-between mb-4">
        <h1 class="h1 mb-0 text-primary font-weight-normal">Individual Dimension</h1>
    </div>

    <ul id="pagination-individual" class="pagination-sm"></ul>
    <div id="page1" class="page">
        <div class="row">
            <div class="col-xl-10 col-lg-9">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div class="card-header py-3 d-flex flex-row align-lis-center justify-content-between">
                        <h4 class="m-0 m-0 font-weight-normal text-secondary">Health</h4>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <p>
                            <strong>Health</strong> means the degree to which an application is understood, repaired, or
                            enhanced.
                        </p>
                        <ul>
                            <li> Can the system improve (or worsen) a person’s physical health?</li>
                            <li> What about a person’s mental, and emotional health? </li>
                            <li> Can the system make a person feel undervalued or disrespected?</li>
                            <ul>
                                <li>What about dependent on the system or anyone?</li>
                                <li>What about coerced to do something that she is not conformable with?</li>
                            </ul>
                            <li>
                                Can the system make a person feel any other feeling that he or she might perceive
                                as negative?
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="page2" class="page">
        <div class="row">
            <div class="col-xl-10 col-lg-9">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div class="card-header py-3 d-flex flex-row align-lis-center justify-content-between">
                        <h4 class="m-0 m-0 font-weight-normal text-secondary">Lifelong Learning</h4>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <p>
                            <strong>Lifelong learning</strong> means the provision or use of both formal and informal learning
                            opportunities throughout people's lives in order to foster the continuous development and
                            improvement of the knowledge and skills needed for employment and personal fulfilment.
                        </p>
                        <ul>
                            <li>Can the system improve (or worsen) the knowledge of a person?</li>
                            <li>Can it change her education level?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="page3" class="page">
        <div class="row">
            <div class="col-xl-10 col-lg-9">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div class="card-header py-3 d-flex flex-row align-lis-center justify-content-between">
                        <h4 class="m-0 m-0 font-weight-normal text-secondary">Privacy</h4>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <p><strong>Privacy</strong> means the state of being free from unwanted or undue intrusion or disturbance in
                                one's private life or affairs. </p>
                        <ul>
                            <li>Can the system expose (or help to hide) a person’s identity?</li>
                            <ul>
                                <li>What about her whereabouts or preferences?</li>
                                <li>What about her relation to friends and family?</li>
                            </ul>
                            <li>Can the system make a person feel more (or less) exposed in any way?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="page4" class="page">
        <div class="row">
            <div class="col-xl-10 col-lg-9">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div class="card-header py-3 d-flex flex-row align-lis-center justify-content-between">
                        <h4 class="m-0 m-0 font-weight-normal text-secondary">Safety</h4>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <p>
                            <strong>Safety</strong> means the condition of being protected from or unlikely to cause danger, risk, or
                            injury.
                        </p>
                        <ul>
                            <li>Can the system expose (or protect) a person to physical harm?</li>
                            <li>Even if the system is safe, can it make a person feel more (or less) exposed to
                                physical harm?</li>
                            <ul>
                                <li>
                                    What if used in an unintended way?
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="page5" class="page">
        <div class="row">
            <div class="col-xl-10 col-lg-9">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div class="card-header py-3 d-flex flex-row align-lis-center justify-content-between">
                        <h4 class="m-0 m-0 font-weight-normal text-secondary">Agency</h4>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <p>
                            <strong>Agency</strong> means the capacity of an individual to act independently and to make decisions of
                            their own free will.
                        </p>
                        <ul>
                            <li>Can the system empower a person to take an action when necessary?</li>
                            <li>If it doesn’t empower, can it prevent them from taking an action? For example,
                                because the user interface does not allow them to.</li>
                            <li>Can a people affected by the system truly understand its implications?</li>
                            <li>Can a person realistically voice their concerns about the system? For example, does
                                the person feel comfortable enough to say no?</li>
                            <li>If a person cannot voice their concerns, who can represent them?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
