{% extends 'layout_user.html.twig' %}
{% block title %} Social Dimension - Sustainability Awareness Framework{% endblock %}
{% block body %}
    <div class="d-sm-flex align-lis-center justify-content-between mb-4">
        <h1 class="h1 mb-0 text-primary font-weight-normal">Social Dimension</h1>
    </div>

    <ul id="pagination-social" class="pagination-sm"></ul>

    <div id="page1" class="page">
        <div class="row">
            <div class="col-xl-10 col-lg-9">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div class="card-header py-3 d-flex flex-row align-lis-center justify-content-between">
                        <h4 class="m-0 m-0 font-weight-normal text-secondary">Sense of community</h4>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <p>
                            <strong>Sense of community</strong> means people belong to an organization, to an area or to a group of like-minded people.
                        </p>
                        <ul>
                            <li>Can the system affect a person’s sense of belonging to these groups?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="page2" class="page">
        <div class="row">
            <div class="col-xl-10 col-lg-9">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div class="card-header py-3 d-flex flex-row align-lis-center justify-content-between">
                        <h4 class="m-0 m-0 font-weight-normal text-secondary">Trust</h4>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <p>
                            <strong>Trust</strong> means having a firm belief in the reliability, truth, or ability of someone or something.
                        </p>
                        <ul>
                            <li>Can the system change the trust between the users and the business that owns the system?</li>
                            <li>What about the trust between the users themselves?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="page3" class="page">
        <div class="row">
            <div class="col-xl-10 col-lg-9">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div class="card-header py-3 d-flex flex-row align-lis-center justify-content-between">
                        <h4 class="m-0 m-0 font-weight-normal text-secondary">Inclusiveness and diversity</h4>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <p><strong>Inclusiveness</strong> and <strong>diversity</strong> mean the practice or policy of
                            including people who might
                            otherwise be excluded or marginalized.
                        </p>
                        <ul>
                            <li>Can the system impact on how people perceive others?</li>
                            <li> Does the system include uses with different backgrounds, age groups, education levels,
                                or other differences?
                            </li>
                            <li> Does the system cater for these differences? How?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="page4" class="page">
        <div class="row">
            <div class="col-xl-10 col-lg-9">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div class="card-header py-3 d-flex flex-row align-lis-center justify-content-between">
                        <h4 class="m-0 m-0 font-weight-normal text-secondary">Equity</h4>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <p><strong>Equity </strong> means the quality of being fair and impartial.</p>
                        <ul>
                            <li>Can the system make people to be treated differently from each other? For example,
                                because the system carries out data analytics or influences human decisions.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="page5" class="page">
        <div class="row">
            <div class="col-xl-10 col-lg-9">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div class="card-header py-3 d-flex flex-row align-lis-center justify-content-between">
                        <h4 class="m-0 m-0 font-weight-normal text-secondary">Participation and communication</h4>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <p><strong>Participation </strong> and <strong>communication</strong> means the act of taking
                            part in something by imparting or
                            the interchange of thoughts, opinions, or information by speech, writing, or signs. </p>
                        <ul>
                            <li>Can the system change the way people participate in an organization or other social
                                groups?
                            </li>
                            <li>Does it affect the way people communicate verbally and non-verbally?</li>
                            <li>Does it affect the way people create networks?</li>
                            <li>Does it affect the way people form bounds?</li>
                            <li>Does it affect the way the effort people put in a group work?
                            <li>Does it affect the actions people take to achieve the goals, projects and tasks of
                                a group?
                            </li>
                            <li>Does it affect the way people engage with others?</li>
                            <li>Does it affect the way people support, consider, critique or argue with others?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
