{% extends 'layout_user.html.twig' %}
{% block title %} Sustainability - Sustainability Awareness Framework{% endblock %}
{% block body %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h1 mb-0 text-primary font-weight-normal">Sustainability</h1>
    </div>

    <!-- Content Row -->

    <div class="row">

        <!-- Sustainability Definition-->
        <div class="col-xl-8 col-lg-8">
            <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h4 class="m-0 m-0 font-weight-normal text-secondary">Sustainability Definition</h4>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <p> Oxford English Dictionary defines sustainability as ‘the quality of being sustained’. Sustained can be defined as:
                    </p>
                    <ul>
                        <li>‘Capable of being endured’.</li>
                        <li>‘Capable of being maintained’.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h2 class="h2 mb-0 text-primary font-weight-normal">Sustainability Dimensions</h2>
    </div>

    <!-- Content Row -->

    <div class="card-deck">

            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h4 class="m-0 m-0 font-weight-normal text-secondary">Environmental Dimension</h4>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    It covers the use of and stewardship of natural resources. It includes questions ranging from immediate waste production and energy consumption to the balance of local ecosystems and concerns of climate change.
                </div>
            </div>



            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h4 class="m-0 m-0 font-weight-normal text-secondary">Economic Dimension</h4>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    The economic dimension covers financial aspects and business value. It includes capital growth and liquidity, questions of investment, and financial operations.
                </div>
            </div>



            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h4 class="m-0 m-0 font-weight-normal text-secondary">Social Dimension</h4>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    The social dimension covers relationships between individuals and groups. For example, this aspect covers the structures of mutual trust and communication in a social system and the balance between conflicting interests.
                </div>
            </div>


    </div>

    <!-- Content Row -->

    <div class="card-deck">


            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h4 class="m-0 m-0 font-weight-normal text-secondary">Technical Dimension</h4>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    The technical dimension covers the ability to maintain and evolve artificial systems (such as software) over time. It refers to maintenance and evolution, resilience, and the ease of system transitions.
                </div>
            </div>



            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h4 class="m-0 m-0 font-weight-normal text-secondary">Individual Dimension</h4>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    The individual dimension covers individual freedom and agency (the ability to act in an environment), human dignity and fulfillment. It includes the ability of individuals to thrive, exercise their rights and develop freely.
                </div>
            </div>


    </div>

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h2 class="h2 mb-0 text-primary font-weight-normal">Levels of effects</h2>
    </div>

    <!-- Content Row -->


        <div class="card-deck">


            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h4 class="m-0 m-0 font-weight-normal text-secondary">Immediate Effects</h4>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    Immediate effects are direct effects of the production, use and disposal of software systems.
                </div>
            </div>



            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h4 class="m-0 m-0 font-weight-normal text-secondary">Enabling effects</h4>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    Enabling effects arise from the application of a system over time. They may also be called indirect effects.
                </div>
            </div>



            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h4 class="m-0 m-0 font-weight-normal text-secondary">Structural effects</h4>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    Structural effects represent “persistent changes observable at the macro level”. Another term is systemic effect.
                </div>
            </div>

    </div>

{% endblock %}