{% extends 'layout_public.html.twig' %}
{% block content %}
    <div class="container">
        <h1>Legal information</h1>
        <h2>Contact</h2>
        <h2>Terms and Conditions</h2>
    </div>
{% endblock %}